* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #070707;
}

.scroll-btn {
  z-index: 10;
  opacity: 0.4;
}

.scroll-btn:hover {
  opacity: 1;
}

.main-image-scroll,
.main-image-scroll1,
.main-image-scroll2,
.main-image-scroll3,
.main-image-scroll4 {
  width: 100vw;
  height: 100vh;
  background-color: #00ffa3;
}

/* ------------Home video ---------- */
.main-video {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main-video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.screen-items-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
}

.screen-items-wrapp .biir {
  width: 100px;
  margin-top: 100px;
}

.screen-items-wrapp .generic {
  width: 130px;
  margin-top: 250px;
}

.screen-items-wrapp h1 {
  font-size: 90px;
}

/* .main-bg-hero {
  position: absolute;
  background-image: url(../src/images/hvree_har.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
} */
/* -------------       ------------- */
.main {
  position: relative;
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  margin-top: 80px;
  z-index: 100;
  position: fixed;
  display: flex;
  width: 95vw;
  max-width: 1800px;
  height: 100px;
  margin: auto;
  justify-content: space-between;
}

.nav_shadow {
  position: fixed;
  left: 0;
  width: 100vw;
  background-image: url(../src/images/nav_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  z-index: 10;
}

.logo {
  cursor: pointer;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.logo .top_logo1 {
  width: 80px;
}

.logo .top_logo2 {
  width: 60px;
  opacity: 0;
  margin: 20% 0 0 20%;
}

.logo:hover .top_logo1 {
  display: none;
}

.logo:hover .top_logo2 {
  opacity: 1;
}

nav ul {
  margin-top: 40px;
  list-style: none;
  z-index: 3;

}

li {
  float: left;
  position: relative;
  margin-right: 60px;
  z-index: 3;
  transition: all .2s ease-in;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 12px;
  position: relative;
}

nav ul li a:hover {
  color: #00ffa3;
}

nav li:hover {
  color: #00ffa3;
  transform: scale(1.4);
  text-shadow: none;
  transition: all .2s ease-out;
}

nav button {
  border: none;
  padding: 4px 8px;
  border-radius: 18px;
  background: none;
  border: 1px solid #00ffa3;
  color: #00ffa3;
  transition: all .6s ease-in-out;
}

nav button:hover {
  cursor: pointer;
  color: black;
  background: #00ffa3;

}

/* ============ Footer ============== */
.footer {
  position: absolute;
  width: 80%;
  bottom: 0;
  margin-top: 100px;
  opacity: 0.7;
}


/* =================== content =============== */
.main2 {
  display: flex;
  justify-content: center;
  height: auto;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.main2 ul {
  border-bottom: none;
}

.main2 ul li {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.main2 ul .react-tabs__tab--selected {
  color: #00ffa3;
}


.main2 h1 {
  color: #00ffa3;
  margin-top: 120px;
  position: absolute;
  font-size: 33px;
  font-weight: 500;
}

.react-tabs__tab--selected {
  color: #00ffa3;
}

.react-tabs__tab {
  margin-top: 190px;
  /* color: white; */
  background: none;

}

.react-tabs__tab-list {
  border-bottom: none;
}

.main2::-webkit-scrollbar {
  display: none;
}

.flex-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ------------ shop tabs ----------- */
.about-container {
  display: flex;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 200px;

}

.about-container ul {
  border-bottom: none;
}

.about-container ul li {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.about-container ul .react-tabs__tab--selected {
  color: #00ffa3;
}


.about-container h1 {
  color: #00ffa3;
  margin-top: 120px;
  position: absolute;
  font-size: 33px;
  font-weight: 500;
}

.react-tabs__tab--selected {
  color: #00ffa3;
}

.react-tabs__tab {
  margin-top: 190px;
  background: none;

}

.react-tabs__tab-list {
  border-bottom: none;
}

/* --------------------------------------- */
.grid {
  display: flex;
  position: relative;
  text-align: center;

}

.grid a {
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 200px;
  height: 200px;
}

.grid-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 16%;
  width: 70%;
  opacity: 0;
}

.grid-text p {
  font-size: 13px;
  color: gray;
}

.grid-text span {
  font-size: 18px;
  font-weight: 800;
  color: #00ffa3;
}

.grid-text button {
  cursor: pointer;
  margin-top: 10px;
  width: 80px;
  border: none;
  border: 0.5px solid #00ffa3;
  color: #00ffa3;
  background: none;
  border-radius: 5px;
  padding: 2px;
}

.grid-text button:hover {
  color: black;
  background-color: #00ffa3;
}

.grid:hover .grid-text {
  opacity: 1;

}

.grid img {
  object-fit: cover;
  object-position: top;

}

.grid {
  transition: .1s all;
  transform: scale(1);
  opacity: 0.4;

}

.grid:hover {
  opacity: 1;
  z-index: 5;
  transform: scale(1.08);
  transition-delay: 0ms, 0ms;
}

/* .btn-s {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(15, 16, 24);
  bottom: 0;
  width: 100%;
  height: 34px;
  margin-top: -35px;
}
.btn-s2 {
  border: none;
  margin-top: 10px;
  margin-left: 100px;
}

.grid button {
  position: absolute;
  bottom: 0;  
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
} */
/* -------------- contents -------------- */
.contents {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  z-index: 9;
}

.ContentBg {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.6;
  z-index: -10;
}

.kind {
  font-size: 14px;
  margin-top: -5px;
  color: rgb(182, 182, 182);
}

.lang {
  font-size: 13px;
  margin-top: -8px;
  color: rgb(182, 182, 182);
}

.content-view {
  z-index: 2;
  margin-top: 160px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  gap: 80px;

}

.main-slide {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.carousel .thumb {
  height: 80px;
  width: 20%;
}

.carousel-status {
  display: none;
}

.carousel .thumbs-wrapper.axis-vertical {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.carousel {
  text-align: center;
  width: 100%;
}

.control-dots {
  display: flex;
  justify-content: center;
}

.content-view p {
  color: white;
  line-height: 40px;
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
}

.content-text button {
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
  border: none;
  border-radius: 15px;
  background: none;
  border: 1px solid #00ffa3;
  color: #00ffa3;
  transition: all .6s ease-in-out;
  transform: translateY(0);
}

.content-text button:hover {
  color: black;
  background: #00ffa3;
  transform: translateX(8px);

}

.content-text p span {
  font-size: 25px;
  font-weight: 500;
}

.content-text b {
  color: rgb(0, 174, 255);
  font-weight: 200;
}



/* ============== Coming page ==================== */
.main-box-coming {
  display: flex;
  justify-content: center;
}

.top-banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.shadow-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgb(15, 16, 24);
  box-shadow: 0px 0px 40px black;

}

.top-banner img {
  width: 100vw;
  margin-top: -150px;
}

.box-c1 {
  position: absolute;
  display: flex;
  width: 80vw;
  max-width: 1200px;
  height: fit-content;
  background: rgb(15, 16, 24);
  background-image: linear-gradient(to bottom, rgb(26, 28, 42), rgb(26, 28, 42), rgb(15, 16, 24), rgb(15, 16, 24));
  top: 200px;
  opacity: 0.98;
  border-radius: 20px;
  overflow: hidden;
}

/* ---------- Pages ------------- */
.page-2,
.page-3,
.page-4,
.page-5 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}

.page-2 img {
  position: absolute;
}
.subeedei {
  position: sticky;
  top: 0;
  z-index: -5;
}

.bg-about-img {
  width: 100%;
}

.sarwuu {
  width: 40%;
  right: 5%;
  top: 10%;
}

.avatar-circle {
  z-index: 5;
  position: relative;
  margin-top: 100px;
  width: 160px;
  height: 160px;
  background: #0a0a0c;
  border: 1px solid gray;
  border-radius: 50%;

}

.avatar-circle img {
  position: absolute;
  right: -110px;
  top: -45px;
  z-index: 5;
  width: 380px;
  height: 230px;
}

.page-2-text {
  z-index: 10;
  left: 300px;
  color: white;
  top: 310px;
  position: absolute;
}

.page-2-text b {
  font-size: 60px;
  font-weight: 700;
}

.page-2-p {
  margin-top: 60px;
}

.page-2-text p {
  font-size: 25px;
  margin-top: 5px;
  letter-spacing: 1.4px;
}

.page-2-text button {
  cursor: pointer;
  margin-top: 80px;
  border: none;
  padding: 7px 15px;
  border: 1px solid lightgray;
  background: none;
  color: lightgray;
  border-radius: 15px;
}

.page-2-text button:hover {
  background: lightgray;
  color: black;
  transition: all .4s ease-in-out;
}

.page-3 b {
  z-index: 10;
  position: absolute;
  color: rgb(17, 17, 17);
  font-size: 100px;
  top: 30%;
  left: 10%;
}
.page-3 p {
  position: absolute;
  top: 28%;
  z-index: 10;
  left: 0;
  width: 40%;
  height: 150px;
  background: #00ffa3;
}
.page-3 img {
  width: 100vw;
}

.page-4 b {
  z-index: 5;
  position: absolute;
  color: white;
  font-size: 40px;
  top: 20%;
}
.page-5 b {
  z-index: 10;
  position: absolute;
  color: white;
  font-size: 100px;
  width: 50%;
  top: 30%;
  left: 10%;
}
.page-5 p {
  position: absolute;
  top: 60%;
  font-size: 28px;
  color: white;
  z-index: 10;
  left: 22%;
  width: 40%;
  letter-spacing: 1.6px;
}
.page-5 span {
  position: absolute;
  top: 64%;
  font-size: 28px;
  color: white;
  z-index: 10;
  left: 22%;
  width: 40%;
  letter-spacing: 1.6px;
}
.page-5 img {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
}
.page-4 b {
  z-index: 5;
  position: absolute;
  color: white;
  font-size: 40px;
  top: 20%;
}
.page-4 button {
  position: absolute;
  top: 75%;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  background: none;
  color: white;
  border: 2px solid white;
}

.home-shop-btn,
.totem-shop-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 60%;
  color: white;
  top: 260px;
  font-size: 25px;
}

.home-shop-btn img {
  margin-top: -70px;
  width: 250px;
}

.shape-shop {
  margin-top: 40px;
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 30px;
  border: 2px solid #00ffa3;
  transform: scale(1);
}

.shape-shop:hover {
  transform: scale(1.11);
  transition: all .2s ease-in-out;
}
.page-4 span {
  z-index: 5;
  position: absolute;
  color: #b3986b;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 5px;
  top: 40%;
}
.page-4 button {
  cursor: pointer;
  margin-top: -40px;
  border: none;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1.1px;
  padding: 12px 25px;
  border: 2px solid lightgray;
  background: none;
  color: lightgray;
  border-radius: 25px;
}

.page-4 button:hover {
  background: lightgray;
  color: black;
  transition: all .4s ease-in-out;
}

/* ----------- About ------- */
.about-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.about-container h2 {
  color: #00ffa3;
  margin-top: 120px;
  position: absolute;
  z-index: 1;
  font-size: 33px;
  font-weight: 500;
}

.about-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ---About tabs --- */
.tabs__label-2 {
  z-index: 1;
  font-size: 40px;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 200px;
  cursor: pointer;
  color: white;
  margin-left: 40px;
  font-size: 20px;
}

.tabs__label-2:hover {
  transform: scaleY(1.01);
  transition: all 0.2s ease-in-out;
}

.tabs__radio2 {
  display: none;
}

.tabs__content-2 {
  /* position: absolute; */
  order: 1;
  margin-top: 50px;
  display: none;
}

.tabs__radio2:checked+.tabs__label-2 {
  color: #00ffa3;
}

.tabs__radio2:checked+.tabs__label-2+.tabs__content-2 {
  display: block;
}

/* =========== News ================ */
.news-wrapp {
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 120px;
  padding-bottom: 120px;
}

.news-wrapp h2 {
  color: #00ffa3;
  font-size: 33px;
  font-weight: 500;
}

/* =========== Totems ============== */
section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.back-img-totem {
  z-index: -2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.totems-wrapp {
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 120px;
  padding-bottom: 120px;
}

.totems-wrapp h2 {
  color: #00ffa3;
  font-size: 33px;
  font-weight: 500;
}

.img-wrapp-totem {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: -60px;
}

.img-wrapp-totem img {
  width: 260px;
}

.totems-wrapp p {
  margin-top: 40px;
  width: 60%;
  color: white;
  line-height: 25px;
  font-size: 15px;
}

.bottom-content-wrapp {
  display: flex;
  padding-bottom: 50px;
}

.left-side-totem {
  padding-top: 30px;
  width: 650px;
  height: 500px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
}

.column-totem {
  display: flex;
  gap: 40px;
}

.column-totem h3 {
  padding-top: 25px;
}

.left-side-totem img {
  width: 80px;
}

table {
  border-collapse: collapse;
  width: 650px;
  color: white;
  font-size: 15px;
  background: rgba(white, white, white, 0.8);
}

table,
th,
td {
  border: 1px solid gray;
}

table th {
  padding: 5px;
  font-weight: 400;
}

table td {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 800;
}

table img {
  width: 50px;
}

/* ======== Contact ========= */
.contact-wrapp {
  margin-top: 120px;
  margin-bottom: 200px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-wrapp {
  display: flex;
  gap: 20px;
}

.social-wrapp img {
  margin-top: 20px;
  text-decoration: none;
  width: 30px;
  filter: invert(60%);
}

.social-wrapp img:hover {
  filter: invert(100%);
}

.contact-wrapp h4 {
  font-size: 33px;
  font-weight: 500;
  color: #00ffa3;
}

form {
  margin-top: 80px;
  display: flex;
  gap: 260px;
}

form input:focus {
  outline: none;
}

.input-wrapp,
label {
  display: flex;
  flex-direction: column;
  color: #00ffa3;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
}

.input-wrapp input {
  width: 450px;
  height: 25px;
  padding: 0 10px;
  margin-top: 5px;
  border: none;
  background: none;
  border: 0.5px solid gray;
  color: white;
}

.subject-input textarea {
  color: white;
  padding: 10px;
  margin-top: 5px;
  border: none;
  background: none;
  border: 0.5px solid gray;
  width: 600px;
  height: 158px;
}

form span {
  margin-top: 120px;
  color: white;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.subject-input button {
  border: none;
  background: none;
  border: 0.5px solid gray;
  color: #00ffa3;
  padding: 5px 20px;
  margin-left: 496px;
}

.subject-input button:hover {
  cursor: pointer;
  color: black;
  background: #00ffa3;
  transition: all 0.3s ease-in-out;
}

/* =========== shop tabs ========= */
.flex-wrapper-shop {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.grid-shop {
  display: flex;
  position: relative;
  text-align: center;

}

.grid-shop a {
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 200px;
  height: 200px;
}

.grid-text-shop {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 16%;
  width: 70%;
  opacity: 0;
}

.grid-text-shop p {
  font-size: 14px;
  color: rgb(180, 180, 180);
}

.grid-text-shop span {
  font-size: 18px;
  font-weight: 800;
  color: #00ffa3;
}

.grid-text-shop button {
  cursor: pointer;
  margin-top: 10px;
  width: 80px;
  border: none;
  border: 0.5px solid #00ffa3;
  color: #00ffa3;
  background: none;
  border-radius: 5px;
  padding: 2px;
}

.grid-text-shop button:hover {
  color: black;
  background-color: #00ffa3;
}

.grid-shop:hover .grid-text-shop {
  opacity: 1;

}

.grid-shop img {
  object-fit: cover;
  object-position: top;

}

.grid-shop {
  transition: .1s all;
  transform: scale(1);
  opacity: 0.7;

}

.grid-shop:hover {
  opacity: 1;
  z-index: 5;
  transform: scale(1.08);
  transition-delay: 0ms, 0ms;
}

/* ========= About section ====== */
.about_wrapper {
  margin-top: 120px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

}

.about_wrapper h4 {
  font-size: 33px;
  font-weight: 500;
  color: #00ffa3;
}

.text_wrapp_about {
  display: flex;
  margin-top: 120px;
  width: 70vw;
}

.text_wrapp_about p {
  width: 34%;
  text-align: justify;
  line-height: 2;
}

/* ========= paypal button ======= */
.paypal-button-container2 {
  width: 200px;
  height: 95px;
  overflow: hidden;
}

.paypal-button-container2 .no-paypal {
  text-align: center;
  font-weight: 500;
  padding-top: 10px;
  z-index: 999;
  position: absolute;
  width: 200px;
  border-radius: 20px;
  height: 40px;
  background: white;
}
/* ============== QPAY ================ */
.qpay-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.qpay-main button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: #00ffa3;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 500;

}

.qpay-wrapp a {
  color: #00ffa3;
  font-weight: 500;
  text-decoration: none;
}

.qpay-wrapp {
  color: white;
}